   "pushover": {
    "enabled": {{ _jellyseerr_cfg_agents_pushover_enabled.raw | lower }},
    "types": {{ _jellyseerr_cfg_agents_pushover_types.raw }},
    "options": {
     "accessToken": "{{ _jellyseerr_cfg_agents_pushover_access_token.raw }}",
     "userToken": "{{ _jellyseerr_cfg_agents_pushover_user_token.raw }}",
     "sound": "{{ _jellyseerr_cfg_agents_pushover_sound.raw }}"
    }
   },