   "pushbullet": {
    "enabled": {{ _jellyseerr_cfg_agents_pushbullet_enabled.raw | lower }},
    "types": {{ _jellyseerr_cfg_agents_pushbullet_types.raw }},
    "options": {
     "accessToken": "{{ _jellyseerr_cfg_agents_pushbullet_access_token.raw }}",
     "channelTag": "{{ _jellyseerr_cfg_agents_pushbullet_channel_tag.raw }}"
    }
   },